{% extends 'base.html' %}


{% block body %}

    <style>

      img {
        max-width: 100%;
        height: auto;
      }   

    </style>

    <br>
    {% if error_message %}
    <div class="alert alert-warning" role="alert-warning">
        <h4 class="alert-heading">An error has occurred, Please Check</h4><br>
        <p>
          {{ error_message }}
        </p>
    </div>
    <div class="responsive" >
      <div class="Nofound" >
        <img src="{{url_for('static',filename='error404.jpg')}}" alt="error404"  width="900" height="400">>
      </div>
    </div>


    {% endif %}



{% endblock %}
