/*Header Register*/
#main-header {
      font-family: Boomerang;
      font-style: italic;
    	color: #ffff00;
    	height: 80px;
      text-align: right;
      margin-right: 50px;
      word-spacing: 5px;
      letter-spacing: 3px;
        }
        /*Footer Register*/
#main-footer {
  font-family: Boomerang;
  font-style: italic;
  color: #ffff00;
  height: 20px;
  text-align: justify;
  word-spacing: 4px;
  letter-spacing: 2.5px;
    }

/* Template Register and Login*/

        @import url('https://fonts.googleapis.com/css?family=Numans');

 body.Register   {
        background-image: url("diapositiva1.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-color: no repeat;
        background-size: cover;
        height: 100%;
        font-family: 'Numans', sans-serif;
        }
.login-container {
        color: #ffff00;
        margin-top: 25px;
        margin-left: 50px;
        word-spacing: 150px;
    }
.login_btn  {
        color:rgba(0,0,0,.3);
        margin-left: 30px;
        }
.login_reg  {
        color:rgba(0,0,0,.3);
        margin-left: 30px;
                }
.Password {
        margin-left: 35px;
          }
.card-body p{
        color: #ffff00;
        width: auto;
        margin-bottom: 20px;
    }
.boxcard{
        height: 370px;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 400px;
        background: rgba(0,0,0,.3);
        }
.boxcard-header h3{
        color: white;
              }

input:focus{
      outline: 5 0 0 5;
      box-shadow: 0 2 0 5;
              }

/*Template search*/

body.search {
        background-image:url("diapositiva3.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-color: no repeat;
        background-size: cover;
        height: 100%;
        font-family: 'Numans'sans-serif;
        }
ul {
        background-color: #f8e17e;
        list-style-type: none;
        letter-spacing: 3px;
        font-size: 15px;
        font-weight: bold;
        border: 1px solid #555;

        }

li a {
        text-align: center;
        border-bottom: 1px solid #555;
        }
ul li a:hover {
          background: #e6d690;
}
/*Template Profile*/
body.Profiles {
        background-image:url("diapositiva2.jpg");
        background-position: center center;
        background-attachment: fixed;
        background-color: no repeat;
        background-size: cover;
        height: 100%;
        font-family: 'Numans'sans-serif;
        }





/* pendiente configurar para dispositivos moviles y otros
@media only screen and (max-width: 767px) {
